<% boards.each( function(board) { %>
	<div class="board-item list">
		<%= board.escape('title') %>
		<span class="glyphicon glyphicon-remove"></span>
	</div>
<% }); %>
<div class="board-item list">
	<form class="new-board">
	<label for="new-board">New Board</label>
	<input type="text" name="board[title]" id="new-board">
	<input type="submit">
	</form>
</div>