<% boards.each( function(board) { %>
	<li>
		<a href="#boards/<%= board.id %>"><%= board.escape('title') %></a>
		<button class="delete-board" data-board-id=<%= board.id %>>delete</button>
	</li>
<% }); %>
<form class="new-board">
<label for="new-board">New Board</label>
<input type="text" name="board[title]" id="new-board">
<input type="submit">
</form>