<div id="board-header">
	<h2 id="board-title"><%= board.escape('title') %></h2> <div id="add-list" class="list">Add List ... </div>
</div>

<div class="group">
	<div id="lists" class="sortable"></div>
</div>