/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.add-card {
	padding: 10px;
	border: 2px solid #5057A7;
	border-radius: 6px;
}

.backdrop {
	height: 100%;
}

body {
	height: 100%;
}

.board-show {
	background: #95C0D9;
	height: 100%;
	padding: 1px 20px 20px 20px;
}

.card {
	background: #96E0BA;
	border: 2px solid #43A975;
	border-radius: 6px;
	box-shadow: 1px 1px 0px grey;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
}

.card-title {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.dragging {
	box-shadow: 6px 6px 0px grey;
	transform: rotate(3deg);
}

.highlight {
	background: #43A975;
}

.highlight-add {
	background: #5057A7;
	color: white;
}

.list {
	background: #9FA4DF;
	border: 2px solid #5057A7;
	border-radius: 6px;
	float: left;
	margin-left: 15px;
	padding: 0px 10px 10px 10px;
	width: 260px;
}

.navbar {
	margin-bottom: 0px;
}

.new-list {
	clear: both;
}