/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.add-card {
	padding: 10px;
	border: 2px solid #5057A7;
	border-radius: 6px;
}

#add-list {
	display: inline-block;
	margin-left: 15px;
	padding: 5px 10px;
	position: absolute;
}

.board-show {
	background: #95C0D9;
	height: 100%;
	padding: 1px 20px 20px 20px;
}

#board-header {
	padding: 16px 16px 6px 16px;
}

#board-title {
	display: inline-block;
	margin: 0px;
}

.card {
	background: #96E0BA;
	border: 2px solid #43A975;
	border-radius: 6px;
	box-shadow: 1px 1px 0px grey;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
}

.cards {
	padding: 4px 0px;
}

.card-title {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

div.dragging {
	box-shadow: 6px 6px 0px rgba(10,10,10,0.5);
	transform: rotate(3deg);
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.highlight {
	cursor: -webkit-grab;
	background: #43A975;
}

div.highlight-add {
	background: #5057A7;
	color: white;
}

.list {
	background: #9FA4DF;
	border: 2px solid #5057A7;
	border-radius: 6px;
	box-shadow: 1px 1px 0px grey;
	margin-left: 15px;
}

.list-item {
	float: left;
	margin-top: 10px;
	padding: 0px 10px 10px 10px;
	width: 260px;
}

.list-title {
	cursor: -webkit-grab;
	margin: 0px;
	padding: 10px 0px;
}

.navbar {
	background: #9FA4DF;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: black;
}

.glyphicon-remove {
	cursor: pointer;
	float: right;
	transition: transform 0.5s;
}

.glyphicon-remove:hover {
	transform: rotate(180deg);
}

textarea {
	resize: vertical;
}