/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.board-show {
	background: #95C0D9;
	padding: 1px 20px 20px 20px;
}

.card {
	background: #96E0BA;
	border: 2px solid #43A975;
	border-radius: 6px;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
}

.card-title {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.list {
	background: #9FA4DF;
	border: 2px solid #5057A7;
	border-radius: 6px;
	float: left;
	margin-left: 15px;
	padding: 0px 10px 10px 10px;
}

.navbar {
	margin-bottom: 0px;
}

.new-list {
	clear: both;
}