<div class="list">
	<h4 class="list-title"><%= list.escape("title") %></h4>
	<div class="cards sortable" data-list-id="<%= list.id %>"></div>
	<div class="card-footer">
		<div class="add-card">Add Card ...</div>
	</div>
</div>
